Source: onessh
Section: admin
Priority: optional
Maintainer: Atlas Yu <atlas.yu@canonical.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.0
Homepage: https://github.com/pseudocc/onessh
Vcs-Browser: https://github.com/pseudocc/onessh
Vcs-Git: https://github.com/psuedocc/onessh.git

Package: onessh
Architecture: all
Priority: optional
Depends: 
 sudo,
 bash (>= 5),
 openssh-server,
 ssh-import-id,
 at,
 ${misc:Depends},
Description: Tool to manage single SSH sign-on for multiple users
 OneSSH is a login shell to manage multiple SSH keys. It is designed to be
 used by mulitple users who can reserve the device for a period of time, so
 that their login will not be interrupted by other users.
